<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="/authuser/base::layout(~{::section})">
<!-- ======= dashboard Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
	<div class="container-fluid">
		<div class="row gy-4">
			<div th:replace="authuser/sidebar::side"></div>
			<div class="col-lg-10" th:if=${user}>
				
				<section id="contact" class="contact section-bg">
					
					<div class="container" data-aos="fade-up">

						<div class="section-title">
							<h2>My Profile</h2>
						</div>

						<div class="row ">
							<div class="col-lg-12 mt-4 mt-lg-0 text-center ">
								<div class="card mt-2">
									<div class="card-body">
										<img th:src="@{'/assets/img/'+${user.imgeUrl}}" alt="profile photo" class="my_profile rounded-circle" style="width:200px; height:200px;">
									
										<div class="card mt-2">
									<div class="card-body">
									<div class="table-responsive">
										<table class="table">
										  <thead>
										    <tr>
										      <th scope="col">Id</th>
										      <th scope="col" th:text="${user.id}"></th>
										    </tr>
										  </thead>
										  <tbody>
										    <tr>
										      <th scope="row">Email</th>
										      <td th:text="${user.email}"></td>
										    </tr>
										    
										    <tr>
										      <th scope="row">Name</th>
										      <td th:text="${user.name}"></td>
										    </tr>
										    
										     <tr>
										      <th scope="row">Role</th>
										      <td th:text="${user.role}"></td>
										    </tr>
										    
										    
										     <tr>
										      <th scope="row">Description</th>
										      <td th:text="${user.userdesc}"></td>
										    </tr>
										    
										    <tr>
										      <th scope="row">Active</th>
										      <td th:text="${user.active}"></td>
										    </tr>
										    
										    
										   
										  </tbody>
										</table>
										</div>
										</div>
										</div>
										
									</div>
								</div>
							</div>

						</div>

					</div>
				</section>
				<!-- End Contact Section -->

			</div>
			<div class="col-lg-10" th:unless=${user}>

			<div class="alert alert-danger" role="alert">
					 Sorry, You don't have permission to view this user details!
			</div>

			</div>
</section>
</div>
</div>
</div>
</section>
</html>